

@{
    ViewBag.Title = "Modificar";
}

<h2>Editar Internos <small>@Html.ActionLink("agregar +", "Create")</small></h2>

<ul class="nav nav-justified botonesDependencias">
    <li role="presentation" id="activo" class="gmd gmd-1" data-toggle="tooltip" title="Tel.: 4338-5800">
        @Ajax.ActionLink("SEDE CENTRAL", "InternosXDependencia","Interno", new { id = 2 }, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "resultado",
            OnSuccess = "limpiarFiltro()",
        })
    </li>
    <li role="presentation" class="gmd gmd-1">
        @Ajax.ActionLink("PRIMERA INFANCIA", "InternosXDependencia", "Interno", new { id = 5 }, new AjaxOptions()
        {
            UpdateTargetId = "resultado",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "limpiarFiltro()",
        })
    </li>

</ul>

<br />

<div id="resultado">

</div>


<script type="text/javascript">

    // SCRIPT PARA QUE AL INICIO VAYA DIRECTO A LA ACCION DE MOSTRAR LISTADO DE SEDE CENTRAL
    window.onload = function () {
            $.ajax({
                type: "GET",
                url:  "@Url.Content("~/Interno/InternosXDependencia/2")",
                success: function (resultado) {
                    $("#resultado").html(resultado);
                    //alert("funca");
                },
                error: function () {
                    alert("Error al cargar el listado de internos");
                }
            });
    };



    // LIMPIAR INPUT
    function limpiarFiltro() {
        $('#filtrar').val("")
    }

</script>