<div class="clima">
    <div id="TT_FhzALBthYnnjMhhKjfzk1kEkEtnK94SzDZBII"></div>
    <script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_FhzALBthYnnjMhhKjfzk1kEkEtnK94SzDZBII"></script>
</div>
