

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default efectoSombra">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Ingresar como Admin</h3>
                </div>
                <div class="panel-body center-block">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Usuario" name="usuario" type="text" autofocus id="txtUsuario">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" id="txtPassword">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button id="btnIngresar" class="btn btn-primary btn-block">Ingresar</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#btnIngresar").on("click", function () {
    if ($("#txtUsuario").val().trim() == "" || $("#txtPassword").val().trim() == "") {
        alert("Ingrese los campos requeridos");
        return;
    }

    $.ajax({
        contentType: "application/json; charset=utf-8",
        type: "POST",
        url: "@Url.Action("LogIn", "Home")",
        data: JSON.stringify( { usuario: $("#txtUsuario").val(), password: $("#txtPassword").val()}),
        success: function (data) {
            if(data == 1)
            {
                var returnUrl = "@Request.QueryString["ReturnUrl"]";

                if (returnUrl == "") {
                    window.location.href = "@Url.Action("Index","Home")";
                }
                else {
                    window.location.href = returnUrl;
                }
            }
            else {
                alert("Usuario y/o password incorrectos");
            }
        }
    });
});


</script>
