
@import "variables";

.botonesDependencias li a {
    font-size: $tamañoBotonesDependencias;
}

.botonesDependencias > li > a:hover,
.botonesDependencias > li > a:focus {
    background-color: $colorPrimario;
    color: white;
}
