
@import "variables";


.tamanoIconoVolver {
    font-size: 20px;
    text-decoration: none;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}


//clima en navbar
.navbar {
    .clima {
        padding-top: 5px;
        padding-right: 20px;
    }
}