// VARIABLES

// color oficial #0072BB

// COLOR PRIMARIO
$colorPrimario: #0072BB;

// ENCABEZADO
$colorEncabezado: white;
$alturaEncabezado: 75px;

// FONDO BODY
$colorFondoBody: #F2F3F4;

// COLOR BARRA NAVEGACION
$colorNav: $colorPrimario;


//TAMAÑO BOTONES DEPENDENCIAS
$tamañoBotonesDependencias: 17px;

//TAMAÑO FUENTE TABLA
$tamañoFuenteEncabezadoTabla: 16px;
$tamañoFuenteTabla: 15px;
